body{
    background-color: #fafafa;
}
.avatar{
    width: 350px; 
    height: 350px;
    border: 8px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.educacion{
    background-color: #f2f2f2;
}
.educacion__card{
    min-height: 120px;
}
@media only screen and (max-width: 768px){
    .avatar{
        width: 220px;
        height: 220px;
    }
}